* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	width: 100%;
	min-width: 1280px;
}

/******************header********************/
header {
	width: 100%;
	height: 60px;
}

.title {
	float: left;
	margin: 12px 44px;
}

.title img {
	float: left;
	width: 32px;
	height: 32%;
}

.title h2 {
	float: left;
	margin: 4px 10px;
	font: 24px "黑体";
}

header nav {
	float: right;
	margin-top: 16px;
	margin-right: 20px;
}

header nav li {
	width: 80px;
	height: 45px;
	padding-bottom: 25px;
	display: inline-block;
	font: 14px "Microsoft YaHei";
	text-align: center;
	cursor: pointer;
}

header nav li:hover, .login_in p:hover {
	color: #F04C57;
	border-bottom: 3px solid #F04C57;
}

.login_in {
	float: right;
	width: 80px;
	margin-top: 18px;
	margin-right: 80px;
	text-align: center;
	font: 14px "Microsoft YaHei";
	cursor: pointer;
}

.login_in img {
	float: left;
}

.login_in p {
	height: 43px;
}

/******************section_1********************/
.section_1 {
	width: 100%;
	height: 650px;
	margin-bottom: 35px;
	background-image: url(img/section1.jpg);
	background-size: cover;
}

.black_mask {
	width: 100%;
	height: 325px;
	background-color: rgba(0,0,0,0.2);
}

.slogan {
	width: 40%;	/*如果不设置宽度，slogan的宽度会继承其父元素，这样偏移的时候会增加页面的宽度*/
	position: relative;
	top: 30%;
	left: 10%;
}

.slogan p:first-child {
	font: 60px "Microsoft YaHei";
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.slogan p {
	font: 21px "Microsoft YaHei";
	line-height: 32px;
	color: #ffffff;
}

.slogan span {
	display: block;
	width: 300px;
	height: 60px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	margin-top: 80px;
	font: 28px "Microsoft YaHei";
	background-color: rgb(231, 79, 78);
}

/******************section_2********************/
.section_2 {
	text-align: center;
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-width: 10%;
	-moz-column-width: 10%;
	-webkit-column-width: 10%;
	column-gap: 0em;
	-moz-column-gap: 0em;
	-webkit-column-gap: 0em;
	font: 14px "黑体";
	color: #938e8c;
}

.section_2 div:hover {
	color: #F04C57;
}

.section_2 img {
	margin-bottom: 40px;
}

.section_2 p {
	padding-bottom: 10px;    /*延长右边的边框*/
	margin-bottom: 70px;
	box-sizing: content-box;
	border-right: 2px solid #938e8c;
}

/******************section_3********************/
.section_3 {
	width: 100%;
	height: 350px;
	font: 53px "黑体";
	text-align: center;
	color: rgb(161, 161, 161);
	background-color: #EDEAEA;
}

.section_3 img {
	margin-top: 100px;
	margin-bottom: 30px;
}

/******************section_4********************/
.section_4 {
	width: 100%;
	height: 300px;
	color: #ffffff;
	padding-top: 50px;
	text-align: center;
	font-family: "Microsoft YaHei";
	background-size: cover; 	/*设置图像拉伸*/
	background-image: url(img/map.jpg);
}

.section_4 hr {
	width: 40px;
	height: 2px;
	border: 0;    /*消除边框*/
	margin: 13px auto 15px auto;
	background-color: #ffffff; 
}

.section_4 hr:hover {
	width: 280px;
}

.section_4 p{
	font: 12px;
}

.section_4 form {
	width: 1280px;
	height: 36px;
	margin-top: 45px;
	margin-left: 45px;
	font: 12px "Microsoft YaHei";
}

.section_4 form .option {
	width: 240px;
	height: 36px;
	margin: 0px 10px;
	font-size: 14px;
	color: #938e8c;
	text-align: left;
	line-height: 36px;
	display: inline-block;
	background: url(img/mail.png) no-repeat 210px #ffffff;
}

.section_4 form .option:hover > ul {	/*:hover影响子元素ul*/
	width: 240px;	/*不显示设置的话，宽度得不到继承*/
	position: absolute;
	display: block;
}

.section_4 form .option span {
	 margin-left: 10px;
}

.section_4 form .option ul {
	display: none;
	border: 2px solid #AE7271;
}

.section_4 form .option li {
	list-style: none;
	line-height: 32px;
	padding-left: 40px;
	cursor: pointer;
	background-color: #e3e3e5;
}

.section_4 form .option li:hover {
	color: #ffffff;
	background: url(img/ticked.png) no-repeat 10px #BF4E48;
}

.section_4 form select option {
	display: inline-block;
	height: 50px;
}

.section_4 form input {
	width: 240px;
	height: 36px;
	margin: 0px 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 30px;
	text-indent: 30px;	/*解决设置字间距后，文字不居中的问题*/
	background-color: rgb(231, 79, 78);
	border-width: 0px;
}

/******************section_5********************/
.section_5 {
	width: 100%;
	height: 600px;
	padding-top: 90px;
	text-align: center;
	background-color: #f7f7f7;
	font-family: "Microsoft YaHei";
}

.section_5 figure {
	width: 220px;
	margin-right: 40px;
	display: inline-block;
}

.section_5 figure div {
	width: 220px;
	height: 340px;
	display: inline-block;
	padding: 14px 8px;
	margin-bottom: 8px;
	border: 1px solid #e1dedc;
	background-color: #ffffff;
}

.section_5 figure figcaption {
	width: 220px;
}

.section_5 figure figcaption h4 {
	font-size: 14px;
	font-weight: 500;
	color: #524c4a;
	margin-bottom: 10px;
}

.section_5 figcaption p{
	font-size: 12px;
	color: #938e8c;
	margin-bottom: 10px;
}

.section_5 figure:nth-child(2) figcaption h4{
	width: 220px;
	font-size: 24px;
	text-align: justify;	    /*文字两端对齐*/
	text-justify:distribute;	/*文字两端对齐*/
	text-align-last:justify; 	/*文字两端对齐*/
	margin-bottom: 2px;
}

/******************section_6********************/
.section_6 {
	width: 100%;
	height: 560px;
	text-align: center;
	position: relative;
	font-family: "Microsoft YaHei";
}

.section_6 .left {
	width: 68%; 
	height: inherit;
	display: inline-block;
	margin-left: -10px;
	position: relative;
	background-image: url(img/world.jpg);
	background-size: cover;
}

.section_6 .left:after {
	content: "";
	height: 0px;
	position: absolute;
	top: 255px;
	right: 0px;
	border-width: 15px 30px 15px 0px; 
	border-style: solid;
	border-color: transparent #ffffff transparent transparent;
}

.section_6 .left .mes {
	margin: 120px auto;
	color: #ffffff;
}

.section_6 .left .mes h2 {
	font-size: 50px;
}

.section_6 .left .mes p {
	font-size: 158px;
}

.section_6 .left .mes span {
	font-size: 22px;
}

.section_6 .right {
	width: 32%;
	display: inline-block;
}

.section_6 .right .mes {
	position: absolute;
	top: 150px;
}

.section_6 .right .mes h2 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.section_6 .right .mes h2 span {
	color: rgb(231, 79, 78);
}

.section_6 .right .mes p {
	margin: auto;
	width: 80%;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	color: #938e8c;
}

.section_6 .right .mes input {
	width: 110px;
	height: 34px;
	margin-top: 50px;
	margin-bottom: 20px;
	color: rgb(231, 79, 78);
	border: 1px solid rgb(231, 79, 78);
	background-color: #ffffff;
}

.section_6 .right .mes input:hover {
	color: #ffffff;
	background-color: rgb(231, 79, 78);
}

.section_6 .right .mes img {
	display: block;
	margin: auto;
}

/******************section_7********************/
.section_7 {
	width: 100%;
	height: 520px;
	font-size: 20px;
	text-align: center;
}

.section_7 div {
	float: left;
	width: 33.3%;
}

.section_7 .left, .section_7 .middle {
	height: inherit;
	padding-top: 200px; 
	color: #ffffff;
	background-color: rgb(231, 79, 78);
}

.section_7 .middle {
	color: #000000;
	background-color: #ffffff;
}

.section_7  p {
	margin-bottom: 10px;
}

.section_7  hr {
	margin: 28px auto;
	width: 35px;
}

.section_7 button{
	width: 166px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
}

.section_7 .left button {
	border: 1px solid #ffffff;
	background-color: rgb(231, 79, 78);
}

.section_7 .left button:hover {
	color: rgb(231, 79, 78);
	background-color: #ffffff;
}

.section_7 .middle button {
	color: rgb(231, 79, 78);
	border: 1px solid rgb(231, 79, 78);
	background-color: #ffffff;
}

.section_7 .middle button:hover {
	color: #ffffff;
	background-color: rgb(231, 79, 78);
}

.section_7 .right {
	position: relative;
}

.section_7 .right img{
	height: 520px;
	width: 98%;
	margin-left: 10px;
}

.section_7 .right:after {	/*设置三角形*/
	content: "";
	height: 0px;
	position: absolute;
	top: 255px;
	left: 10px;
	border-width: 15px 0px 15px 30px; 
	border-style: solid;
	border-color: transparent transparent transparent #ffffff;
}


/******************section_8********************/
.section_8 {
	width: 100%;
	height: 800px;
	padding: 100px 150px;
}

.section_8 .top {
	text-align: center;
	margin-bottom: 140px;
}

.section_8 .top h2 {
	font: 21px "黑体";
}

.section_8 .top hr {
	width: 30px;
	height: 2px;
	margin: 10px auto;
	border: 1px solid rgb(231, 79, 78);	/*对水平线加边框使其更美观*/
	background-color: rgb(231, 79, 78);
}

.section_8 .top hr:hover {
	width: 200px;
}

.section_8 .top p {
	font: 14px "Microsoft YaHei";
	color: #938e8c;
}

.section_8 .left {
	width: 31%;
	height: 400px;
	display: inline-block;
}

.section_8 .left h3 {
	font-size: 16px;
	margin: 10px auto 20px auto;
	color: #6C5C5C;
}

.section_8 .left p {
	font-size: 14px;
	line-height: 24px;
	color: #B3AFAC;
}

.section_8 .left span {
	float: right;
	font-size: 14px;
	color: #B3AFAC;
	cursor: pointer;
}

.section_8 .left div:nth-child(2) {
	margin-top: 40px;
}

.section_8 .left div:last-child {
	margin-top: 20px;
}

.section_8 .right {
	float: right;
	height: 400px;
	margin-left: 50px; 
	display: inline-block;
}

.section_8 input {
	width: 300px;
	height: 40px;
	margin: 8px 4px;
	padding-left: 16px; 
	cursor: pointer;
	color: #4E3A4F;
	font: 12px "宋体";
	border: 1px solid rgb(237, 237, 238);
	background-color: rgb(237, 237, 238);
}

.section_8 textarea {
	width: 616px;
	height: 125px;
	display: block;
	margin: 8px 4px;
	padding: 10px 16px;
	border: 0;
	font: 12px "宋体"; 
	background-color: rgb(237, 237, 238);
}

.section_8 input:hover, .section_8 textarea:hover {
	background-color: #ffffff;
}

.section_8 input:last-child {
	width: 616px;
	font: bold 14px "宋体"; 
}

/******************section_9********************/
.section_9 {
	width: 100%;
	height: 400px;
	padding-top: 100px;	
	color: #F7F8FC;
	text-align: center;
	background-color: #33363F;	
}

.section_9 h3{
	font-size: 22px;
	margin-bottom: 10px;
}

.section_9 p {
	font-size: 14px;
	line-height: 22px; 
	margin-bottom: 30px;
}

.section_9 input[name="email"] {
	width: 500px;
	height: 40px;
	padding-left: 10px;
	color: #B3AFAC;
	vertical-align: middle;	/*消除输入框不对齐的问题*/
	font: 16px "Microsoft YaHei";
}

.section_9 input[name="sub"] {
	width: 90px;
	height: 40px;
	border: 0;
	cursor: pointer;
	background-color: #75757F;
}

.section_9 img {
	margin: 50px 10px;
	cursor: pointer;
}

/******************footer********************/
footer {
	width: 100%;
	height: 60px;
	padding: 20px 66px;
	text-align: center;
	background-color: #30303A;
}

footer p {
	font-size: 14px;
	color: #ffffff;
	float: left;
	cursor: pointer;
}

footer a {
	color: #ffffff;
	float: right;
	font-size: 14px;
	text-decoration: none;
}

