* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    width: 980px;
    height: 1386px;
    background-color: #fff;
}

/********************header***********************/
header {
    position: relative;
    margin-bottom: 30px;
    margin-left: 44px;
}

.url-area {
    width: 110px;
    height: 61px;
    background-color: #d55d5c;
}

.url-area p {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font: 12px '黑体';
    color: #fff;
}

.date {
    position: absolute;
    right: 44px;
    bottom: 3px;
    margin: 0;
}

header hr {
    width: 892px;
    height: 2px;
    background-color: #938e8c;
}

/********************section-1***********************/
.section-1 {
    position: relative;
}

figure {
    position: relative;
    margin-bottom: 44px;
    margin-left: 44px;
    width: 641px;
    height: 301px;
}

.cover-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 191px;
    height: 301px;
    opacity: .4;
    background-color: #75b86b;
}

.cover-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 191px;
    height: 301px;
    opacity: .4;
    background-color: #cc8091;
}

aside {
    position: absolute;
    top: 0;
    right: 44px;
    width: 203px;
}

.section-1 aside hr {
    margin-bottom: 5px;
    width: 203px;
    height: 2px;
    background-color: #cc8091;
}

.about {
    text-decoration: underline;
    text-transform: capitalize;     /*把段落设置成小型大写字母字体*/
    font: 24px/40px 'Microsoft YaHei';
    font-variant: small-caps;
    color: #000;
}

.detail {
    line-height: 10px;
    font: 12px '楷体';
    color: #676767;
}

.number-1 {
    margin-bottom: -16px;
    margin-left: -25px;
    font: italic 116px 'Microsoft YaHei';
    color: #75b86b;
}

.number-2 {
    margin-bottom: -20px;
    font: 55px 'Microsoft YaHei';
    color: #cc8091;
}

.text-1 {
    position: absolute;
    right: 90px;
    bottom: 0;
    font: 21px 'Microsoft YaHei';
    color: #cc8091;
}

.text-2 {
    position: absolute;
    right: 0;
    bottom: -10px;
}

/********************section-2***********************/
.section-2 div {
    float: left;
    margin-right: 30px; 
}

.section-2 {
    margin-left: 44px;
    width: 641px;
    font: 12px/16px '宋体';
    color: #767777;
}

.section-2 h2 {
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}

.what {
    width: 230px;
}

.what h2 {
    color: #418c59;
}

.when {
    width: 200px;
}

.when h2 {
    color: #d2994f;
}

.how h2 {
    color: #cc7680;
}

.percent {
    margin-top: 40px;
}

.percent p {
    text-transform: capitalize;
    font: 12px/16px 'Microsoft YaHei';
    opacity: .7;
}

.percent span {
    font-style: italic;
    color: #cd4a48;
}

/********************section-3***********************/
.section-3 {
    clear: both;
    overflow: auto;
    margin: auto 44px 25px 44px;
    padding-top: 55px;
    width: 892px;
}

.article-left {
    float: left;
}

.heading-left {
    margin-bottom: 30px;
    width: 415px;
}


.line-1 span{
    color: #f5e327;
    font:  italic bolder 72px "黑体";
}

.line-1 {
    font: bold 42px/16px '黑体';
    color: #11456b;
}

.line-2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font: 33px '黑体';
    color: #11456b;
}

.heading-left hr {
    width: 415px;
    height: 2px;
    background-color: #11456b;
}

.article-left article {
    width: 415px;
    font: 12px/16px '宋体';
    color: #767777;
}

.para-1 span {
    float: left;
    margin-top: -5px;
    margin-right: 5px;
    font: 70px 'Microsoft YaHei';
    color: #f5e327;
}

.article-left article img {
    float: right;
    margin: 16px 3px 16px 15px;
}

.para-2, .para-3 {
    text-indent: 2em;
}

.article-right {
    float: right;
    width: 458px;
}

.section-3 figure {
    float: right;
    margin-top: 16px;
    margin-bottom: 35px;
    width: 458px;
    height: 275px;
}

figcaption {
    position: absolute;
    bottom: 6px;
    left: 40px;
    padding-left: 12px;
    border-left: 3px solid #72b16a;
    font: 26px/44px 'Microsoft YaHei';
    color: #fff;
}

.black-mask {
    position: absolute;
    bottom: 0;
    width: 458px;
    height: 61px;
    opacity: .5;
    background-color: #000;
}

figcaption span {
    margin-left: 8px;
    font: italic 16px "Microsoft YaHei";
    color: #72b16a;
    height: 140%;
}

.article-right article {
    float: right;
    width: 459px;
    height: 318px;
    border: 1px solid #ccc;
    background-color: rgb(238, 238, 214);
}

.triangle {
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-bottom: 9px solid black;
    border-left: 5px solid transparent;
}

.article-right article p {
    margin-bottom: 20px;
    margin-left: 40px;
    font: 16px '宋体';
    color: #5a5b5b;
}

.article-right article .first_line {
    margin-top: 30px;
}

.article-right article p span {
    font: italic 12px '宋体';
    color: #5a5b5b;
}

.heading-right {
    float: left;
    margin-top: 15px;
    margin-right: 14px;
    width: 260px;
    height: 160px;
    background-color: #d55d5c;
}

.heading-right .mark {
    margin-top: 37px;
    margin-left: 75PX;
}

.heading-right .mark-1 {
    display: inline-block;
    margin-bottom: 6px;
    margin-left: -5px;
    font: italic 21px/24px '黑体';
    color: #fff;
}

.heading-right .mark-2 {
    margin-left: 0;
    font: 12px '黑体';
    color: #fff;
}

.article-right .number-0 {
    float: left;
    margin: 34px 12px;
    padding-right: 3px;
    border-right: 2px solid #fff;
    font: 110px/86px 'Microsoft YaHei';
    color: #fff;
}

.article-right .quote {
    margin-top: -18px;
    text-indent: 3em;
    font: italic 14px '黑体';
}

.quote .icon_2 {
    float: right;
    margin-top: 5px;
}

.icon-1 {
    display: inline-block;
    margin-top: 20px;
}

.icon-2 {
    float: right;
    margin-top: -30px;
    margin-right: 24px;
}

footer hr {
    margin-left: 44px;
    width: 892px;
    height: 1px;
    background-color: #938e8c;
}

footer p {
    float: right;
    margin-right: 44px;
    font: 12px '黑体';
    color: #d45d5c;
}