* {
    box-sizing: border-box;
    font-family: "Source Code Pro", "Consolas", "Microsoft yahei", 'Segoe UI', sans-serif;
}

.container {
    width: 1440px;
    min-width: 1440px;
}

article {
    position: relative;
    margin: 30px;
    overflow: hidden;
}

.boxbot-map {
    float: left;
}

table {
    border-collapse: collapse;
}

table td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    border: 1px solid #bdc3c7;
}

.map-20x20 td {
    width: 37px;
    height: 37px;
}

.map-30x30 td {
    width: 25px;
    height: 25px;
}

.x-axis {
    border: 0;
    text-align: center;
}

.y-axis {
    padding-right: 5px;
    border: 0;
    text-align: right;
}

.boxbot {
    position: absolute;
    padding-top: 1px;
    padding-left: 1px;
    -webkit-transition: top .25s ease-in-out, left .25s ease-in-out, transform .25s ease-in-out;
    -moz-transition: top .25s ease-in-out, left .25s ease-in-out, transform .25s ease-in-out;
    transition: top .25s ease-in-out, left .25s ease-in-out, transform .25s ease-in-out;
}

.map-20x20 .boxbot {
    width: 37px;
    height: 37px;
}

.map-30x30 .boxbot {
    width: 24px;
    height: 24px;
}

aside {
    float: left;
}

select:focus {
    outline: none;
}

.control {
    margin: 5px auto 10px 12px;
}

.control select,
.control button {
    font-size: 12px;
    height: 20px;
    vertical-align: middle;
}

.speed {
    margin-right: -10px;
}

.algorithm {
    margin-left: 10px;
}

.execute-btn {
    margin-left: 10px;
    width: 45px;
}

.random-btn {
    width: 70px;
}

.commander {
    margin-left: 20px;
    width: 420px;
    height: 741px;
    overflow: hidden;
}

.commander-lines-wrap {
    float: left;
    padding-top: 5px;
    width: 15%;
    height: 100%;
    text-align: right;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    border-radius: 4px 0 0 4px;
    background-color: #2c3e50;
}

.commander-lines {
    position: relative;
    top: 0px;
}

.commander-lines div {
    padding-right: 5px;
}

.commander-editor {
    padding: 5px;
    width: 85%;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    resize: none;
    border-radius: 0 4px 4px 0;
    background-color: #34495e;
}

.tips {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 640px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .4);
    background-color: #2c3e50;
    transform: translate(-50%, -55%);
}

.tips .close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    font-size: 18px;
    color: #d87093;
    background-color: transparent;
    cursor: pointer;
}

.tips h4 {
    text-align: center;
    color: #d87093;
}

.tips p {
    padding-left: 150px;
}

.tips span {
    color: #22C3AA;
}

.wall {
    background-color: #bdc3c7;
}

.success {
    background-color: #22C3AA;
}

.error {
    background-color: #d87093
}

.hidden {
    display: none;
}