* {
    box-sizing: border-box;
    font-family: "Source Code Pro", "Consolas", "Microsoft yahei", 'Segoe UI', sans-serif;
}

article {
    padding: 30px;
}

.boxbot-map {
    float: left;
}

table {
    position: relative;
    border-collapse: collapse;
}

table td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    border: 1px solid #bdc3c7;
}

.map-20x20 td {
    width: 37px;
    height: 37px;
}

.map-30x30 td {
    width: 25px;
    height: 25px;
}

.x-axis {
    border: 0;
    text-align: center;
}

.y-axis {
    padding-right: 5px;
    border: 0;
    text-align: right;
}

.boxbot {
    position: absolute;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.map-20x20 .boxbot {
    width: 36px;
    height: 36px;
}

.map-30x30 .boxbot {
    width: 24px;
    height: 24px;
}

.commander {
    float: left;
    margin-left: 20px;
    width: 200px;
    height: 382px;
    overflow: hidden;
}

.commander-lines-wrap {
    float: left;
    padding-top: 5px;
    width: 15%;
    height: 100%;
    text-align: right;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    border-radius: 4px 0 0 4px;
    background-color: #2c3e50;
}

.commander-lines {
    position: relative;
    top: 0px;
}

.commander-lines div {
    padding-right: 5px;
}

.commander-editor {
    padding: 5px;
    width: 85%;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    resize: none;
    border-radius: 0 4px 4px 0;
    background-color: #34495e;
}

.execute-btn {
    margin-left: 10px;
    width: 50px;
}

.random-btn {
    width: 80px;
}

.wall {
    background-color: #bdc3c7;
}

.success {
    background-color: #22C3AA;
}

.error {
    background-color: #d87093
}
